@import "tailwindcss";

:root {
  --background: #FDF6E3;
  --foreground: #171717;
  --primary-gold: #D4A017;
  --secondary-brown: #6B4E31;
  --font-sans: "Montserrat", Arial, Helvetica, sans-serif;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  height: 100%;
}
